<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in entry.contents %}
    <li class="list-group-item">
      <div class="row">
        <!-- Adjusted First Column for Year and Image -->
        <div class="{% if content.image %}col-xs-5 col-sm-5 col-md-5{% else %}col-xs-2 col-sm-2 col-md-2{% endif %} text-center"> <!-- Adjusted column size -->
          {% if content.year %}
            <div style="min-width: 75px;">
              <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle">
                {{ content.year }}
              </span>
            </div>
          {% endif %}
          {% if content.image %}
            <div style="padding-top: 10px;"> <!-- Add some space between the year and the image -->
              <img src="{{ content.image }}" class="img-fluid" alt="Experience image" style="height: 100%;">
            </div>
          {% endif %}
        </div>
        <!-- Second Column for Description -->
        <div class="{% if content.image %}col-xs-7 col-sm-7 col-md-7{% else %}col-xs-10 col-sm-10 col-md-10{% endif %}">
          {% if content.title %}
            <h6 class="title font-weight-bold ml-1 ml-md-4">{{content.title}}</h6>
          {% endif %}
          {% if content.institution %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{ content.institution }}</h6>
          {% endif %}
          {% if content.description %}
            <ul class="items">
              {% for item in content.description %}
                <li>
                  {% if item.contents %}
                    <span class="item-title">{{ item.title }}</span>
                    <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li><span class="subitem">{{ subitem }}</span></li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <span class="item">{{ item }}</span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <!-- Continue with the rest of the content -->
        </div>
      </div>
    </li>
  {% endfor %}
</ul>